body {
    padding-top: 60px;
    padding-bottom: 40px;

    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

td {
  font-size: 13px;
}

th.catalog-sku, th.catalog-rrp, th.catalog-discount, th.catalog-price, th.catalog-onhand
{
  width: 10%
}
th.catalog-order {
  width: 15%
}
th.catalog-name {
  width: 35%
}
