/* Reset some bootstrap styles. */
form {
    padding: 0;
    margin: 0;
}
.table td {
    vertical-align: middle;
    font-size: 13px;
    table-layout: fixed;
}

/* Our styles. */
body {
    padding-top: 60px;
    padding-bottom: 40px;

    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

th.catalog-sku, th.catalog-rrp, th.catalog-discount, th.catalog-price
{
    width: 8%;
}
th.catalog-onhand
{
    width: 10%;
}
th.catalog-order {
    width: 25%;
}
th.catalog-name {
    width: 29%;
}

div.catalog-line-button {
  display: inline-block;
  vertical-align: middle;
}

input.catalog-quantity {
    width: 68px;
    margin-top: 1px;
}

span.catalog-times {
    padding: 0 2px 0 2px
}


