{% extends "scribbly/base.html" %}
{% block title %}Catalog{% endblock %}

{% block left-nav %}
<nav class="well sidebar-nav">
    <ul class="nav nav-list">
        {% for taxon in taxon_map %}
            {% with labels=1 %}
                {% include "scribbly/catalog/taxon_navbar.html" %}
            {% endwith %}
            {% if not forloop.last %}<li class="divider"></li>{% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<section id="content">
  <div class="page-header">
    <h1>{{ selected_taxon.name }}</h1>
  </div>
    {% with taxon=selected_taxon template_name="scribbly/catalog/taxon_products.html" %}
        {% include template_name %}
    {% endwith %}
</section>
{% endblock %}
