<div class="catalog-line-button catalog-product-{{ product_pk }}">
                <div class="btn-group">
                  <button class="btn btn-success js-cartmodifybutton" data-loading-text="Updating.." id="{{ product_pk }}">Update</button>
                  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" id="{{ product_pk }}">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li>
                      <a class="js-cartremovebutton" data-product-id="{{ product_pk }}" href="#"><i class="icon-remove-sign"></i>&nbsp;Remove</a>
                      </li>
                    </ul>
                </div>
                {% if error %}<i class="icon-exclamation-sign"></i>{% endif %}
              </div>

