            <div class="btn-group catalog-line-button">
              <button class="btn btn-success js-updatebutton" id="{{ product_pk }}">Update</button>
              <button class="btn btn-success dropdown-toggle" id="{{ product_pk }}">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                <a href="#"><i class="icon-remove-sign"></i> Remove</a>
                </li>
              </ul>
            </div>

