{# A template to display all products in the given taxon #}

{% load scribbly_extras %}

{% if taxon.has_products %}
  <h2>{{ child.name }}</h2>

  <table border="1">
    <thead>
      <th>SKU</th>
      <th>Name</th>
      <th>Retail Price</th>
      <th>Discount</th>
      <th>Price</th>
      <th>Stock On Hand</th>
    </thead>

  {% for product in taxon.get_products %}
  {% with p=priced_products|dict_lookup:product.id %}
    <tr>
      <td>{{ p.sku }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.retail_price }}</td>
      <td>{{ p.discount_as_percent_str }}</td>
      <td>{{ p.discounted_price|floatformat:2 }}</td>
      <td>{{ p.on_hand }}</td>
    </tr>
    {% endwith %}
    {% endfor %}
  </table>
{% endif %}


{% for child in taxon.get_children %}
  {% with taxon=child template_name="scribbly/catalog/taxon_products.html" %}
    {% include template_name %}
  {% endwith %}
{% endfor %}

