{# A template to display all products in the given taxon #}

{% load scribbly_extras %}

{% if taxon.has_products %}
  <h2>{{ child.name }}</h2>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <th class="catalog-sku">SKU</th>
      <th class="catalog-name">Name</th>
      <th class="catalog-rrp">RRP</th>
      <th class="catalog-discount">Discount</th>
      <th class="catalog-price">Price</th>
      <th class="catalog-onhand">On Hand</th>
      <th class="catalog-order">Order</th>
    </thead>

  {% for product in taxon.get_products %}
  {% with p=priced_products|dict_lookup:product.id %}
    <tr>
      <td rowspan="1" class="">{{ p.sku }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.retail_price }}</td>
      <td>{{ p.discount_as_percent_str }}</td>
      <td>{{ p.discounted_price|floatformat:2 }}</td>
      <td><span class="label">{{ p.on_hand }}</span></td>
      <td>
        <form class="form-inline form-catalog-add-product">
        <div class="controls">
          <input class="catalog-quantity input-small" type="text" name="quantity" placeholder="Quantity" value="{{p.quantity}}" />
          <input type="hidden" name="product-id" value="{{ p.product_pk }}" />
          <span class="catalog-times">x</span>
          {% if p.quantity > 0  %}
            {% with product_pk=p.product_pk template_name="scribbly/catalog/order_button.html" %}
              {% include template_name %}
            {% endwith %}
          {% else %}
            {% with product_pk=p.product_pk template_name="scribbly/catalog/add_button.html" %}
              {% include template_name %}
            {% endwith %}
          {% endif %}
        </div>
        </form>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </table>
{% endif %}


{% for child in taxon.get_children %}
  {% with taxon=child template_name="scribbly/catalog/taxon_products.html" %}
    {% include template_name %}
  {% endwith %}
{% endfor %}

