{# A template to display all products in the given taxon #}

{% load scribbly_extras %}

{% if taxon.has_products %}
  <h2>{{ child.name }}</h2>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <th class="catalog-sku">SKU</th>
      <th class="catalog-name">Name</th>
      <th class="catalog-rrp">RRP</th>
      <th class="catalog-discount">Discount</th>
      <th class="catalog-price">Price</th>
      <th class="catalog-onhand">On Hand</th>
      <th class="catalog-order">Order</th>
    </thead>

  {% for product in taxon.get_products %}
  {% with p=priced_products|dict_lookup:product.id %}
    <tr>
      <td rowspan="1" class=""><p>{{ p.sku }}</p></td>
      <td><p>{{ p.name }}</p></td>
      <td><p>{{ p.retail_price }}</p></td>
      <td><p>{{ p.discount_as_percent_str }}</p></td>
      <td><p>{{ p.discounted_price|floatformat:2 }}</p></td>
      <td><span class="label">{{ p.on_hand }}</span></p></td>
      <td>
        <form class="form-inline">
        <div class="controls">
          <button class="btn btn-primary js-addbutton" data-pk="{{ p.product_pk }}" type="button">Add</button>
          <input class="input-small" type="text" placeholder="Quantity" />
        </div>
        </form>
      </td>
    </tr>
    {% endwith %}
    {% endfor %}
  </table>
{% endif %}


{% for child in taxon.get_children %}
  {% with taxon=child template_name="scribbly/catalog/taxon_products.html" %}
    {% include template_name %}
  {% endwith %}
{% endfor %}

