<html>
  <head>
    <title>Scribbly -- Product</title>
  </head>

  <body>

    <table border="1">
      <thead>
        <th>SKU</th>
        <th>Name</th>
        <th>Retail Price</th>
        <th>Discount</th>
        <th>Wholesale Price</th>
      </thead>

    {% for product in products %}
      <tr>
        <td>{{ product.sku }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.customer_discount }}</td>
        <td>{{ product.customer_price|floatformat:2 }}</td>
      </tr>
    {% endfor %}

  </body>
</head>
